@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gayathri:wght@700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    transition: ease-in-out .3s;
}

.login-box {
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left-side {
    width: 50%;
    height:100VH;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.logo-section {
    display: flex;
    margin-left: 80px;
}

.logo-section > p {
    font-family: 'Righteous', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 89px;
    display: flex;
    align-items: center;
    color: #1565D8;
}

.quotation {
    font-family: 'Gayathri', sans-serif;
    height: 21px;   
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 117px;
    color: #BABABA;
}

.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 80px;
}

.text-section  > p { 
    width: 473px;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #696F79;
}

.img-section {
    width: 70%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-left: 80px;
}

.img-section > img {
    width: 336px;
    height: 418px;
}

.img-section > p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 38px;
    display: flex;
    align-items: center;
    color: #696F79;
}

/* RIGHT SIDE START HERE */

.right-side {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.discription-box > h1 {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 51px;
    text-align: center;
    color: #000000;
    padding: 6px;
}

.discription-box > p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #8692A6;
    padding: 6px;
}

.social-box {
    display: flex;
}

.social-box > div {
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.08);
    border-radius: 6px;
    width: 65px;
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
}

.horizontal-line {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.horizontal-line > div {
    width: 172px;
    border-top: 1px solid #F5F5F5;
}

.horizontal-line > span {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #BABABA;
    padding: 5px 30px;
}

form {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
}

form > label  {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #696F79;
    padding: 15px;
}

form > input {
    background: none;
    outline: none;
    border: none;
    width: 426px;
    height: 64px;
    border: 1px solid #8692A6;
    border-radius: 6px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #8692A6;
    padding: 15px;
    margin-top: 5px;
}

form > button {
    background: none;
    outline: none;
    border: none;
    background: #1565D8;
    border-radius: 6px;
    width: 426px;
    height: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 52px;
    cursor: pointer;
}

.login-link {
    background: none;
    outline: none;
    border: none;
    background: #1565D8;
    border-radius: 6px;
    width: 426px;
    height: 64px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 52px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.haveaccount > span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #696F79;
    margin-top: 27px;
}

.haveaccount > span > a {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #1565D8;
    text-decoration: none;
}

/* SCREEN SIZES */

@media (max-width: 480px) {
    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    form {
        width: 90%;
    }
}

@media screen and (min-width:480px) and (max-width:768px) {
    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    form {
        margin: 0 auto;
        width: auto;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    .left-side {
        display: none;
    }

    .right-side {
        width: 100%;
    }

    form {
        margin: 0 auto;
        width: auto;
    }
}